
  <div class="d-flex">
    <%= link_to "#{Coin.model_name.human}", coins_path, class: "btn btn-primary-2 m-2" %>
    <%= link_to "#{MiningType.model_name.human}", mining_types_path, class:"btn btn-secondary-2 m-2" %>
  </div>