
<div class="col-md-12">
  <h1 class="fw-lighter"> Crypto Wallet</h1>
  <h5>A plataforma para cadastro e gerenciamento de criptomoedas</h2>
  <hr>
  <div class="d-flex">
    <button type="button" class="btn btn-primary-2 m-2">Moedas</button>
    <button type="button" class="btn btn-secondary-2 m-2">Tipos de Mineração</button>
  </div>
</div>