<h1>Seja Bem-vindo!</h1>

<p>
  <b>
    Data:  <%= date_pt_br(Date.current) %>
  </b>
</p>

<p>
  <a href="/coins" >Cadastro de moedas</a>

  <br>

  <%= link_to "Cadastro de Moedas", coins_path %>

</p>