<h1><%= t('edit.coin') %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class: "btn btn-primary-2 m-2" %>
<%= link_to t('links.back'), coins_path, class: "btn btn-secondary-2 m-2" %>



</div>